@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('./assets/fonts/NHaasGroteskDSPro-55Rg.woff');
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  appearance: none;
  border: none;
  background: none;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 2.4rem;
  font-family: 'Neue Haas Grotesk', sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
sup {
  font-size: 60%;
}
input[type='text'] {
  border-bottom: 1px solid;
}
pre {
  font-family: monospace;
  white-space: pre-wrap;
  font-size: 1.6rem;
}
